<div class="home_page">
  <div class="home_page_left">
    <%= form_for root_path, method: :get do %>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datapicker" %>
          </div>
          <div class="col-md-3">
            <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control datepicker" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="offset-md-4 col-md-4 ">
            <%= submit_tag "Search", class: "btn btn-normal btn-block"%>
          </div>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="row">
      <% @listings.each do |listing| %>
        <div class="col-md-3 col-sm-6">
          <div class="card">
            <div class="card-header preview">
              <%= image_tag listing.backgroud_image(:medium)%>
            </div>
            <div class="card-body">
              <%= link_to listing.listing_name, listing %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="home_page_right"></div>
</div>

<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
</script>
