<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "Your Listings", listings_path, class: "sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "Your Reservations", my_reservations_path, class: "sidebar-link active" %></li>
        <li class="sidebar-item"><%= link_to "Your Trips", trips_path, class: "sidebar-link" %></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          My Trips
        </div>
        <div class="card-body">

          <% @trips.each do |trip| %>
            <div class="row">
              <div class="col-md-2">
                <%= trip.start_date.strftime('%v') %>
              </div>
              <div class="col-md-2">
                <%= link_to listing_path(trip.listing) do %>
                  <%= image_tag trip.listing.backgroud_image(:thumb) %>
                <% end %>
              </div>
              <div class="col-md-8">
                <%= link_to trip.listing.listing_name, listing_path(trip.listing) %>
                <span class="pull-right text-center">
                  <%= image_tag avatar_url(trip.listing.user), class: "rounded-circle avatar_medium" %>
                  <%= link_to user_path(trip.listing.user) do %><br>
                    <%= trip.listing.user.full_name %>
                  <% end %>
                </span>
              </div>
            </div>
            <hr/>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
