<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class= "text-center">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <span class="float-right">
              <%= link_to "Forgot Password?", new_user_password_path %>
            </span>
          </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Log in", class: "btn btn-normal btn-block" %>
        </div>
      <% end %>
      <hr>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" %>
      <!-- <%= render "devise/shared/links" %> -->

    </div>
  </div>
</div>
