<!DOCTYPE html>
<html>
  <head>
    <title>Flisters</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.11.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/nav' %>
    <div class="main">
      <%= render 'shared/message' %>

      <%= yield %>
    </div>

  </body>
</html>
